.dialog-heading {
    color: #757575;
    font-size: 14px;
    border-bottom: 1px solid #d1d6e1;
    text-transform: uppercase;
    text-align: center;
    padding: 14px;
    margin-top: 0;
}

.dialog-content {
    font-size: 14px;
}

.radio-spacing {
    margin-left: 5rem;
}

.error-text {
    color: #f44336;
}
